<!DOCTYPE html>
<html lang="jp">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>テク子の部屋</title>
		<link rel="stylesheet" href="css/style.css" />
		<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>

		<link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
		<link rel="manifest" href="./img/favicon/site.webmanifest">
		<link rel="mask-icon" href="./img/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<script>
		  (function(d) {
		    var config = {
		      kitId: 'bax4yrf',
		      scriptTimeout: 3000,
		      async: true
		    },
		    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
		  })(document);
		</script>
	</head>
	<body>
		<!-- テク子の部屋のヘッダー -->
		<header>
			<img src="img/tekuko.png" alt="テク子の部屋" />
		</header>

		<!-- メイン -->
		<section class="main">
			<div class="main-container">
				<h2>
					メンターランキング
					<div class="lineLeft"></div>
					<div class="lineRight"></div>
				</h2>
				<div class="mentors">
					<div class="mentor">
						<div class="mentorHeader vote1">
							<span><%= @vote1.count %></span>
						</div>
						<div class="mentorPhoto">
							<img class="mentorPhoto" src="img/gassi.jpeg" alt="gassi" />
						</div>
						<div class="mentorTextArea">
							<h4 class="course"><%= @vote1.course %></h4>
							<h5 class="name" style="color: #e6b422"><%= @vote1.name %></h5>
							<form action="/like/<%= @vote1.id %>" method="post">
								<input type="image" src="img/voteButton.svg" class="btn"></input>
							</form>
							<p class="description"><%= @vote1.description %></p>
						</div>
					</div>

					<div class="mentor">
						<div class="mentorHeader vote2">
							<span><%= @vote2.count %></span>
						</div>
						<div class="mentorPhoto">
							<img class="mentorPhoto" src="img/gassi.jpeg" alt="gassi" />
						</div>
						<div class="mentorTextArea">
							<h4 class="course"><%= @vote2.course %></h4>
							<h5 class="name" style="color: #c0c0c0"><%= @vote2.name %></h5>
							<form action="/like/<%= @vote2.id %>" method="post">
								<input type="image" src="img/voteButton.svg" class="btn"></input>
							</form>
							<p class="description"><%= @vote2.description %></p>
						</div>
					</div>

					<div class="mentor">
						<div class="mentorHeader vote3">
							<span><%= @vote3.count %></span>
						</div>
						<div class="mentorPhoto">
							<img class="mentorPhoto" src="img/gassi.jpeg" alt="gassi" />
						</div>
						<div class="mentorTextArea">
							<h4 class="course"><%= @vote3.course %></h4>
							<h5 class="name" style="color: #9a6229"><%= @vote3.name %></h5>
							<form action="/like/<%= @vote3.id %>" method="post">
								<input type="image" src="img/voteButton.svg" class="btn"></input>
							</form>
							<p class="description"><%= @vote3.description %></p>
						</div>
					</div>
				</div>

				<!-- ここからメンター紹介 -->
				<h2>
					メンター紹介
					<div class="lineLeft"></div>
					<div class="lineRight"></div>
				</h2>

				<div class="mentors">
					<% @mentors.each do |mentor| %>
						<div class="mentor">
							<div class="mentorHeader <%= mentor.isMentor ? "introHeader" : "mcHeader" %>" style="background-color: <%= mentor.color %>;">
								<span style="color: <%= mentor.color %>"><%= mentor.alphabet %></span>
							</div>
							<div class="mentorPhoto">
								<img class="mentorPhoto" src="img/gassi.jpeg" alt="gassi" />
							</div>
							<div class="mentorTextArea">
								<h4 class="course"><%= mentor.course %></h4>
								<h5 class="name" style="color: <%= mentor.color %>"><%= mentor.name %></h5>
								<form action="/like/<%= mentor.id %>" method="post">
									<input type="image" src="img/voteButton.svg" class="btn"></input>
								</form>
								<p class="description"><%= mentor.description %></p>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</section>
		<footer>
			<span>Presented by LiT! Mentors</span>
		</footer>
	</body>
	<script>
		$(function() {
		    $('.btn').on('click', function() {
		        $('.btn').hide();
		        $('.loading').show();

		        // 3秒後に元に戻す
		        setTimeout(function() {
		            $('.btn').show();
		            $('.loading').hide();
		        }, 3000);
		        console.log("hello");
		    });
		});
	</script>
</html>
